.newTask {
  display: flex;
  flex-direction: column;
  column-gap: 50;
  width: 40%;
  height: 80vh;
  padding: 3%;
  border: 1px solid #000000;
}

.option_section {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.option {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.option > input {
  height: 2em;
}

.option > select {
  height: 2.25em;
}

label {
  margin-top: 1em;
}
